{{#each this}}
  <div >
    <ul class='countrycard'>
      <li>
        <img class='country-img' src='{{flags.svg}}' alt='{{flags.alt}}' />
      </li>
      <li>{{name.common}}</li></ul>
  </div>

{{/each}}